In [54]:
# Dependencies and Setup
import csv
import os
import matplotlib.pyplot as plt
import hvplot.pandas
import datetime as dt
import pandas as pd
import numpy as np
import requests
import json
from scipy.stats import linregress

In [55]:
# Load the CSV Heart Disease Mortality by State into a Pandas DataFrame file
mortality_df = pd.read_csv("Resources/Heart Disease Mortality by State data-table.csv")

# Display sample data
mortality_df.head()

   YEAR STATE   RATE DEATHS                                       URL
0  2020    AL  237.5  14739     /nchs/pressroom/states/alabama/al.htm
1  2020    AK  139.8    915      /nchs/pressroom/states/alaska/ak.htm
2  2020    AZ  144.8  14196     /nchs/pressroom/states/arizona/az.htm
3  2020    AR  222.5   8621    /nchs/pressroom/states/arkansas/ar.htm
4  2020    CA  144.0  66538  /nchs/pressroom/states/california/ca.htm

In [56]:

#heart_mortality_df = heart_mortality_df.drop(index=insurance_coverage_df.index[-49:])
mortality_df = mortality_df.drop(['URL'], axis=1)

year = [2019]

for year in year:
    mortality_df = mortality_df.loc[mortality_df["YEAR"] == year, :]
#mortality_df

mortality = mortality_df.copy()



heart_mortality_df = pd.DataFrame({"Year": mortality["YEAR"],
                                    "State":mortality["STATE"],
                                    "Rate": mortality["RATE"],
                                    "Deaths": mortality["DEATHS"]
                                    })

states = {
    "AL" : "Alabama",
    "AK" : "Alaska",
    "AZ" : "Arizona",
    "AR" : "Arkansas",
    "CA" : "California",
    "CO" : "Colorado",
    "CT" : "Connecticut",
    "DE" : "Delaware",
    "FL" : "Florida" ,
    "GA" : "Georgia",
    "HI" : "Hawaii",
    "ID" : "Idaho",
    "IL" : "Illinois",
    "IN" : "Indiana",
    "IA" : "Iowa",
    "KS" : "Kansas",
    "KY" : "Kentucky",
    "LA" : "Louisiana",
    "ME" : "Maine",
    "MD" : "Maryland",
    "MA" : "Massachusetts",
    "MI" : "Michigan",
    "MN" : "Minnesota",
    "MS" : "Mississippi",
    "MO" : "Missouri",
    "MT" : "Montana",
    "NE" : "Nebraska",
    "NV" : "Nevada",
    "NH" : "New Hampshire",
    "NJ" : "New Jersey",
    "NM" : "New Mexico",
    "NY" : "New York",
    "NC" : "North Carolina",
    "ND" : "North Dakota",
    "OH" : "Ohio",
    "OK" : "Oklahoma",
    "OR" : "Oregon",
    "PA" : "Pennsylvania",
    "RI" : "Rhode Island",
    "SC" : "South Carolina",
    "SD" : "South Dakota",
    "TN" : "Tennessee",
    "TX" : "Texas",
    "UT" : "Utah",
    "VT" : "Vermont",
    "VA" : "Virginia",
    "WA" : "Washington",
    "WV" : "West Virginia",
    "WI" : "Wisconsin",
    "WY" : "Wyoming",
    "DC" : "District of Columbia",
    "AS" : "American Samoa",
    "GU" : "Guam",
    "MP" : "Northern Mariana Islands",
    "PR" : "Puerto Rico",
    "UM" : "United States Minor Outlying Islands",
    "VI" : "U.S. Virgin Islands",
}
    
# invert the dictionary
heart_mortality_df['State'] = heart_mortality_df['State'].replace(states)

heart_mortality_df = heart_mortality_df.reset_index(drop=True)

heart_mortality_df

    Year           State   Rate Deaths
0   2019         Alabama  219.6  13448
1   2019          Alaska  129.7    843
2   2019         Arizona  134.0  12587
3   2019        Arkansas  226.5   8669
4   2019      California  136.9  62394
5   2019        Colorado  127.7   7762
6   2019     Connecticut  143.1   7354
7   2019        Delaware  154.3   2053
8   2019         Florida  140.1  47144
9   2019         Georgia  175.5  19543
10  2019          Hawaii  120.3   2503
11  2019           Idaho  150.7   3061
12  2019        Illinois  162.0  25690
13  2019         Indiana  178.8  14555
14  2019            Iowa  172.9   7505
15  2019          Kansas  166.0   6140
16  2019        Kentucky  196.4  10742
17  2019       Louisiana  207.8  11302
18  2019           Maine  142.4   2940
19  2019        Maryland  159.3  11770
20  2019   Massachusetts  127.2  11761
21  2019        Michigan  193.8  25547
22  2019       Minnesota  116.7   8401
23  2019     Mississippi  226.7   7997
24  2019        Missouri  187.0  15018
25  2019         Montana  157.1   2290
26  2019        Nebraska  144.9   3540
27  2019          Nevada  198.1   6864
28  2019   New Hampshire  143.4   2707
29  2019      New Jersey  158.0  18716
30  2019      New Mexico  158.2   4245
31  2019        New York  166.6  43806
32  2019  North Carolina  154.7  19617
33  2019    North Dakota  147.7   1448
34  2019            Ohio  188.8  29160
35  2019        Oklahoma  231.4  10960
36  2019          Oregon  131.0   7128
37  2019    Pennsylvania  172.9  32299
38  2019    Rhode Island  159.3   2404
39  2019  South Carolina  164.0  10579
40  2019    South Dakota  158.1   1840
41  2019       Tennessee  202.8  16814
42  2019           Texas  163.4  46139
43  2019            Utah  146.5   3882
44  2019         Vermont  151.6   1368
45  2019        Virginia  149.1  15062
46  2019      Washington  134.8  11862
47  2019   West Virginia  197.4   5087
48  2019       Wisconsin  158.8  12241
49  2019         Wyoming  150.4   1067

In [57]:
# Load the CSV Health Insurance Coverage of the Total Population file into a Pandas DataFrame
insurance_coverage_df = pd.read_csv("Resources/Health Insurance Coverage of the Total Population raw_data.csv")

# Display sample data
insurance_coverage_df

,Title: Health Insurance Coverage of the Total Population | KFF,Unnamed: 1,Unnamed: 2,Unnamed: 3,Unnamed: 4,Unnamed: 5,Unnamed: 6,Unnamed: 7,Unnamed: 8
0,Timeframe: 2019,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,Location,Employer,Non-Group,Medicaid,Medicare,Military,Uninsured,Total,Footnotes
2,United States,0.496,0.059,0.198,0.142,0.014,0.092,1,1
3,Alabama,0.472,0.055,0.195,0.16,0.021,0.097,1,NaN
4,Alaska,0.484,0.035,0.213,0.1,0.053,0.115,1,NaN
...,...,...,...,...,...,...,...,...,...
98,*N/A*: Estimates with relative standard errors...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
99,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
100,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
101,Footnotes,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
102,1. US total excludes Puerto Rico.,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [58]:
# Specify the row(s) & columns to delete

insurance_coverage_df = insurance_coverage_df.drop([0,1,2,11], axis=0)
insurance_coverage_df = insurance_coverage_df.drop(index=insurance_coverage_df.index[-49:])
insurance_coverage_df = insurance_coverage_df.drop(['Unnamed: 1', 'Unnamed: 2', 'Unnamed: 3', 'Unnamed: 4', 'Unnamed: 5', 'Unnamed: 8'], axis=1)

ins_cov = insurance_coverage_df.copy()
insurance_coverage_df = pd.DataFrame({"State": ins_cov["Title: Health Insurance Coverage of the Total Population | KFF"],
                                    "Uninsured":ins_cov["Unnamed: 6"],
                                    "Insured": "",
                                    "Total": ins_cov["Unnamed: 7"]
                                    })

insurance_coverage_df = insurance_coverage_df.reset_index(drop=True)

insurance_coverage_df['Insured'] = insurance_coverage_df['Total'].astype("float") - insurance_coverage_df['Uninsured'].astype("float")

insurance_coverage_df

             State Uninsured  Insured Total
0          Alabama     0.097    0.903     1
1           Alaska     0.115    0.885     1
2          Arizona     0.111    0.889     1
3         Arkansas     0.091    0.909     1
4       California     0.078    0.922     1
5         Colorado     0.078    0.922     1
6      Connecticut     0.059    0.941     1
7         Delaware     0.066    0.934     1
8          Florida     0.131    0.869     1
9          Georgia     0.134    0.866     1
10          Hawaii     0.041    0.959     1
11           Idaho     0.105    0.895     1
12        Illinois     0.073    0.927     1
13         Indiana     0.088    0.912     1
14            Iowa     0.047    0.953     1
15          Kansas     0.092    0.908     1
16        Kentucky     0.064    0.936     1
17       Louisiana     0.089    0.911     1
18           Maine     0.081    0.919     1
19        Maryland     0.059    0.941     1
20   Massachusetts      0.03    0.970     1
21        Michigan     0.058    0.942     1
22       Minnesota     0.048    0.952     1
23     Mississippi     0.129    0.871     1
24        Missouri     0.101    0.899     1
25         Montana     0.083    0.917     1
26        Nebraska     0.079    0.921     1
27          Nevada     0.115    0.885     1
28   New Hampshire     0.064    0.936     1
29      New Jersey     0.079    0.921     1
30      New Mexico     0.098    0.902     1
31        New York     0.053    0.947     1
32  North Carolina     0.114    0.886     1
33    North Dakota     0.074    0.926     1
34            Ohio     0.067    0.933     1
35        Oklahoma     0.149    0.851     1
36          Oregon     0.071    0.929     1
37    Pennsylvania     0.057    0.943     1
38    Rhode Island     0.043    0.957     1
39  South Carolina     0.108    0.892     1
40    South Dakota     0.096    0.904     1
41       Tennessee     0.102    0.898     1
42           Texas     0.184    0.816     1
43            Utah     0.096    0.904     1
44         Vermont     0.044    0.956     1
45        Virginia      0.08    0.920     1
46      Washington     0.066    0.934     1
47   West Virginia     0.066    0.934     1
48       Wisconsin     0.058    0.942     1
49         Wyoming     0.123    0.877     1

In [59]:
# Load the CSV file created in Part 1 into a Pandas DataFrame
expenditures_capita_df = pd.read_csv("Resources/Health Care Expenditures per Capita by State of Residence raw_data.csv")

# Display sample data
expenditures_capita_df

,Title: Health Care Expenditures per Capita by State of Residence | KFF,Unnamed: 1
0,Timeframe: 2019,NaN
1,Location,Health Spending per Capita
2,United States,"$9,671"
3,Alabama,"$8,741"
4,Alaska,"$13,226"
...,...,...
62,Sources,NaN
63,"Centers for Medicare & Medicaid Services, Offi...",NaN
64,NaN,NaN
65,Definitions,NaN
66,*Health Spending Per Capita* includes spending...,NaN

In [60]:
expenditures_capita_df = expenditures_capita_df.drop([0,1,2,11], axis=0)
expenditures_capita_df = expenditures_capita_df.drop(index=expenditures_capita_df.index[-13:])

spend_capita = expenditures_capita_df.copy()
expenditures_capita_df = pd.DataFrame({"State": spend_capita["Title: Health Care Expenditures per Capita by State of Residence | KFF"],
                        "Spending Capita":spend_capita["Unnamed: 1"]
                        })
expenditures_capita_df = expenditures_capita_df.reset_index(drop=True)
expenditures_capita_df

             State Spending Capita
0          Alabama         $8,741
1           Alaska        $13,226
2          Arizona         $8,145
3         Arkansas         $8,853
4       California         $9,628
5         Colorado         $8,286
6      Connecticut        $11,831
7         Delaware        $12,213
8          Florida         $9,490
9          Georgia         $8,243
10          Hawaii         $9,555
11           Idaho         $7,723
12        Illinois         $9,496
13         Indiana         $9,927
14            Iowa         $9,193
15          Kansas         $8,745
16        Kentucky         $9,744
17       Louisiana         $9,657
18           Maine        $11,488
19        Maryland        $10,248
20   Massachusetts        $12,729
21        Michigan         $9,532
22       Minnesota        $10,510
23     Mississippi         $8,745
24        Missouri         $9,431
25         Montana         $9,808
26        Nebraska         $9,917
27          Nevada         $8,114
28   New Hampshire        $11,310
29      New Jersey        $11,264
30      New Mexico         $8,459
31        New York        $12,932
32  North Carolina         $8,619
33    North Dakota        $10,653
34            Ohio        $10,173
35        Oklahoma         $8,923
36          Oregon         $9,635
37    Pennsylvania        $11,175
38    Rhode Island        $10,988
39  South Carolina         $8,345
40    South Dakota        $11,627
41       Tennessee         $8,827
42           Texas         $8,028
43            Utah         $7,193
44         Vermont        $12,159
45        Virginia         $8,826
46      Washington         $8,964
47   West Virginia        $11,951
48       Wisconsin         $9,652
49         Wyoming        $10,111